<header>
  <nav>
    <!-- icon -->
    <%= image_tag "curateanalytics.png", width: "200"%>
    <!-- about company-->
    <%= link_to "About Us", about_path%>
    <!-- Work -->
    <%= link_to "How It Works", work_path%>
    <!-- signin -->
    <a href="/auth/facebook"><%= image_tag "facebook.png", width: "200"%></a>
  </nav>
</header>