<wrapper>
  <%= render "application/header.html.erb"%>
</wrapper>
Hey y'all this is Curate Analytics! Giving you the best of the best. Tell us your wardrobe and we'll get you to dress to impress in 0 to 60 flat
<wrapper>
  <%= render "application/footer.html.erb"%>
</wrapper>