<wrapper>
  <%= render 'layouts/header' %>
</wrapper>
<center>
  <nav>
    <%= link_to "Your Wardrobe", wardrobe_index_path%>
    <%= link_to "Your Outfits", outfit_index_path%>
    <%= link_to "Your Likes", like_index_path%>
  </nav>
  WARDROBE PAGE
  <div class="box">
    <div class="wardrobe">
      <%current_user.wardrobe.wardrobe.each do |key, value|%>
        <%value.each do |pictures|%>
          <img src="<%= pictures%>" style="200px">
        <%end%>
      <%end%>
    </div>
  </div>
</center>
<wrapper>
  <%= render "application/footer.html.erb"%>
</wrapper>